{% extends 'base.html' %}

{% block content %}


<style>
    .delete-item {
        width: 75px;
        height: 30px;
        text-indent: 0;
        border: 2px solid black
    }

    form#delete-form {
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delete-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        border: 2px solid black;
        width: 40%;
        height: 70%;
        border-radius: 10px;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.342);
        align-items: center;
        justify-content: center;
        color: black;
    }

    .delete-container p {
        max-width: 80%;
        text-align: center;
    }


    a{
        text-decoration: none;
        color: black;
    }

    button{
        width: 75px;
        height: 30px;
        border-radius: 10px;
        border: 2px solid black;
    }


</style>

<form id="delete-form" action="" method="POST">
    {% csrf_token %}
    <div class="delete-container">
        <p>Are you sure you want to delete "{{obj}}?</p>
        <div>
            <input class="delete-item" type="submit" value="Yes">
            <button><a href="{{request.META.HTTP_REFERER}}">No</a></button>
        </div>

        <!--Return to the previous page-->

    </div>
</form>

{% endblock %}
