{% extends 'base.html' %}

{%block content%}

<style>
    .home-content {
        width: 100%;
        display: grid;
        grid-template-columns: 15% 60% 25%;
        grid-template-rows: 92vh;
    }

    @keyframes enter{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }


    .chat-list {
        animation: enter 0.5s ease-in-out;
    }

    .hidden {
        display: none;
        position: absolute;
        background-color: aliceblue;
        color: black;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }


</style>


<div class="home-content">
    <div class="topics">
        <h1>Browse Topics</h1>

        <div class="show-topics">
            <a href="{% url 'home' %}">All</a>
            {% for topic in topics %}
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            {% endfor %}
        </div>
    </div>

    <div class="list">
        <div class="create">
            <a href="{% url 'create_room'%} ">+ Create new chat</a>
        </div>

        <div class="chats">
            <p id="chat-count">{{room_count}} chatrooms were found.</p>
            {% for chat in room %}
                <div class="chat-list">
                    <div class="chat-info">
                        <a style="padding: 0;" href="{% url 'user-profile' chat.host.id %}">
                            <p>{{chat.host}}</p>
                        </a>
                        <a id="all-post" href="{% url 'chatroom' chat.id %}?q={{chat.name}}">
                            <small>Created {{chat.created|timesince}} ago</small></p>
                            <h2>{{chat.name}}</h2>
                            <small>{{chat.topic}}</small>
                        </a>
                    </div>

                    <div class="config-chat">
                        {% if request.user == chat.host %}
                        <a href="{% url 'update_room' chat.id %}">Edit</a>
                        <a href="{% url 'delete_room' chat.id%}">Delete</a>
                        {% endif %}
                        <a href="{% url 'about_room' chat.id%}">See more</a>
                    </div>

                    <div class="hidden">
                        <h1>{{chat.name}}</h1>
                        <p>Created by: {{chat.host}}</p>
                        <p>Created at: {{chat.created}}</p>

                        <h2>Description</h2>
                        <p>{{chat.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="recent">
        <h3>Recent</h3>
        {% for new in recent %}
            <div class="recent-created">
                <a href="{% url 'chatroom' new.id %}?q={{new.name}}">
                    <p>@{{new.host}} just created a new room named "{{new.name}}"!</p>
                    <p class="description"><small>{{new.description}}</small></p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
