{% load static %}

<style>

    nav {
        display: grid;
        grid-template-areas: 'redirect searchbar';
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 100%;
        padding: 10px 10px 10px 20px;

        max-height: 5vh;

        background-color:#5800CC;
    }

    nav img {
        height: 30px;
        width: 40px;
    }


    div#redirect {
        grid-area: redirect;

        display: flex;
        gap: 20px;
        align-items: center;
        height: 100%;
    }

    div#search {
        grid-area: searchbar;
    }

    input {
        border-radius: 10px;
        width: 80%;
        height: 15px;
        padding: 5px;
        border: none;
        outline: none;
        text-indent: 5px;
    }





    button#account-nav {
        background-image: url('{% static "imagens/profile.png" %}');
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
    }

    button#account-nav:hover {
        background-color: black;
    }

    div#div-hidden {
        display: none;
        width: 100px;
        position: absolute;
        top: 55px;
        background-color: rgba(255, 255, 255, 0.849);
    }

    div#div-hidden a{
        padding: 5px;
        color: black;
        text-decoration: none;
        border: 1px solid black;
    }

    div#div-hidden a:hover {
        background-color: black;
        color: white;
    }


</style>

<nav>
    <div id="redirect">
        <a href="{% url 'home' %}"><img src="{% static 'imagens/R-chat-logo-no-background.png' %}" alt=""></a>

        <button id="account-nav">
            <div id="div-hidden">
                    {% if user.is_authenticated %}
                        <a href="{% url 'user-profile' user.id %}">{{user.username}}</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'signup' %}">Signup</a>
                    {% endif %}
                </div>
        </button>

    </div>


    <div id="search">
        <form method="GET" action="{% url 'home' %}">

            <input autocomplete="off" type="text" name="q" id="q" placeholder="Search chats...">
        </form>
    </div>

    <script>
        let button = document.getElementById('account-nav')

        button.addEventListener('click', function(){
            let div_hidden = document.getElementById('div-hidden')

            if (div_hidden.style.display == 'none'){
                div_hidden.style.display = "flex"
                div_hidden.style.flexDirection = "column"
            }
            else{
                div_hidden.style.display = "none"
            }

        }
        )

    </script>

</nav>
